.flex-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.flex-container>*,
section {
  padding: 0px;
}

.header {
  background-color: #091052;
  overflow: visible;
  width: 100%;
  height: 70px;
  text-align: center;
  color: white;
}

.link {
  color: #61dafb;
}

footer {
  background-color: #999;
  flex: 0 100%;
  height: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
  background: #d1cece;
}

.currentMember>.Message-content {
  align-items: flex-end;
}

.Messages-message>.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px 10px;
}

.Message-content>.text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
}

.currentMember>.Message-content .text {
  background-color: rgb(13, 78, 11);
}

form {
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

.chatform {
  display: flex;
}

input {
  padding: 2px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid rgb(16, 25, 150);
  flex-grow: 1;
}

.button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: rgb(16, 25, 150);
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}

.blocks {
  display: inline-block;
  padding-right: 10px;
}
