body {
  background-color: #eee;
  color: #353595;
  margin: 0;
  font-family: Verdana,  Geneva,  Tahoma,  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
